.drag-over {
  position: relative;
  opacity: 0.5;
}

.drag-over::after {
  position: absolute;
  display: block;
  z-index: 5;
  content: '.';
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 0px;
  left: 0;
  margin: 2px;
  border-radius: 4px;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(255 255 255 / 80%);
  pointer-events: none;
}

ul.drag-over:not(.file-tree-list)::after {
  width: calc(100% - 4px + 12.5px);
  height: calc(100% - 4px + 32.8px);
  left: -12.5px;
  top: -32.8px;
}